*.mat filter=fat -crlf
*.fig filter=fat -crlf
*.png filter=fat -crlf
*.gif filter=fat -crlf
*.jpg filter=fat -crlf
*.pdf filter=fat -crlf
*.eps filter=fat -crlf
*.mexa64 filter=fat -crlf
*.zip filter=fat -crlf
*.tar filter=fat -crlf
*.jar filter=fat -crlf
*.old filter=fat -crlf
*.backup filter=fat -crlf
*.amt_tree filter=fat -crlf
*.avi filter=fat -crtf
*.mp4 filter=fat -crtf
*.xoj filter=fat -crtf
*.csv filter=fat -crtf
*.dll filter=fat -crtf
*.shelf filter=fat -crtf
*.xls filter=fat -crtf
*.xlsx filter=fat -crtf
